<section class="custom">
    {{ images['section-bg.jpg'] | image_url: width: null, height: null | image_tag }}
    <div class="image-cover">
        <div class="custom-inner">
            <h2 class="custom-heading">
                Want a Custom Design?
            </h2>
            <p class="custom-desc">
                Have a great idea for a design?
                Can't find what you are looking for? <br>
                Let us know and we'll get back to you within 24 hours.
            </p>
            <div class="cta-wrapper">
                <button class="cta">
                    Drop Us a Line
                </button>
            </div>
        </div>
    </div>

</section>